<div class="container" ng-controller="nestController">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
        <h2 style="margin:0">Nest Thermal Model Dashboard</h2>
        </div>
        <div class="col-md-6" style="text-align:right">
            <button class="btn btn-default btn-primary btn-sm" ng-click="logout()">Logout</button>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active" style="cursor: pointer;">
                <a data-target="#perTeam" data-toggle="tab">Per Team</a>
            </li>
            <li role="presentation" style="cursor: pointer;">
                <a data-target="#Aggregate" data-toggle="tab">Aggregate</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="perTeam">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-4" style="margin-top:20px">
                            <label>Select Team</label>
                            <select ng-init="teamNum === team" ng-model="teamNum" ng-change="changeTeam()" ng-options="team for team in teams">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div id="container" style="margin-top:30px">Placeholder for chart</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="Aggregate">
                <iframe src="http://54.67.96.197:5601/app/kibana#/visualize/edit/Aggregate-Dashboard?embed=true&_g=(refreshInterval:(display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(field:humidity),schema:metric,type:avg),(id:'2',params:(field:outTemp),schema:metric,type:avg),(id:'3',params:(field:temp),schema:metric,type:avg),(id:'4',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:s,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'Aggregate%20Dashboard',type:line))" height="600" width="800"></iframe>
                
                <iframe src="http://54.67.96.197:5601/app/kibana#/visualize/edit/Aggregate-Dashboard-Last-12-Hours?embed=true&_g=(refreshInterval:(display:'5%20seconds',pause:!f,section:1,value:5000),time:(from:now-12h,mode:quick,to:now))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((id:'1',params:(field:humidity),schema:metric,type:avg),(id:'2',params:(field:outTemp),schema:metric,type:avg),(id:'3',params:(field:temp),schema:metric,type:avg),(id:'4',params:(customInterval:'2h',extended_bounds:(),field:'@timestamp',interval:s,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'Aggregate%20Dashboard%20-%20Last%2012%20Hours',type:line))" height="600" width="800"></iframe>
            </div>
        </div>
    </div>
</div>